<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	
	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="/static/website/images/newfavicon.png" type="image/x-icon">
	<link rel="shortcut icon" type="image/x-icon" href="/static/website/images/newfavicon.png">
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>{% block title %}{% endblock  %}</title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="/static/website/vendor/bootstrap-select/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="/static/website/vendor/swiper/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/static/website/css/style.css">
	
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

</head>
<body>
<div class="page-wraper">
	<div id="loading-icon-bx">
		<div class="loading-inner">
			<div class="load-one"></div>
			<div class="load-two"></div>
			<div class="load-three"></div>
		</div>
	</div>

	<!-- header -->
	<header class="header header-transparent rs-nav">
		<!-- main header -->
		<div class="sticky-header navbar-expand-lg">
			<div class="menu-bar clearfix">
				<div class="container-fluid clearfix">
					<!-- website logo -->
					<div class="menu-logo logo-dark">
						<a href="{% url 'homeView' %}"><img src="/static/website/images/logonew.png" alt="" ></a>
					</div>
					<!-- nav toggle button -->
					<button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<!-- extra nav -->
					{% if request.session.user %}
					{% else %}
					<div class="secondary-menu">
						<ul>
							<li class="btn-area"><a href="{% url 'userLoginView' %}" class="btn btn-primary shadow">Login<i class="btn-icon-bx fas fa-chevron-right"></i></a></li>
							
						</ul>
					</div>
					{% endif %}
					<div class="menu-links navbar-collapse collapse justify-content-end" id="menuDropdown">
						
					<div class="menu-logo">
						<a href="{% url 'homeView' %}"><img src="/static/website/images/logonew-white.png" alt=""></a>
					</div>
						
						<ul class="nav navbar-nav">	
							<li class="{% if request.resolver_match.url_name == 'homeView' %}active{% endif %}"><a href="{% url 'homeView' %}">Home</a></li>
							<li class="{% if request.resolver_match.url_name == 'taketestView' %}active{% endif %}"><a href="{% url 'taketestView' %}">Take Test</a></li>
							<li class="{% if request.resolver_match.url_name == 'doctorsView' %}active{% endif %}"><a href="{% url 'doctorsView' %}">Doctors</a></li>
							<li class="{% if request.resolver_match.url_name == 'blogsView' %}active{% endif %}"><a href="{% url 'blogsView' %}">Blogs</a></li>
							<li class="{% if request.resolver_match.url_name == 'contactusView' %}active{% endif %}"><a href="{% url 'contactusView' %}">Contact Us</a></li>
							{% if request.session.user %}
							<li>
								<a href="javascript:;">{{ request.session.user }}<i class="fas fa-plus"></i></a>
								<ul class="sub-menu">
									<li class="add-menu-left">
										<ul>
											<li><a href="{% url 'userLogout' %}"><span>Logout</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							{% endif %}
						</ul>

						<ul class="social-media">
							<li><a target="_blank" href="https://www.facebook.com/" class="btn btn-primary"><i class="fab fa-facebook-f"></i></a></li>
							<li><a target="_blank" href="https://www.google.com/" class="btn btn-primary"><i class="fab fa-google"></i></a></li>
							<li><a target="_blank" href="https://www.linkedin.com/" class="btn btn-primary"><i class="fab fa-linkedin-in"></i></a></li>
							<li><a target="_blank" href="https://twitter.com/" class="btn btn-primary"><i class="fab fa-twitter"></i></a></li>
						</ul>
						<div class="menu-close">
							<i class="ti-close"></i>
						</div>
					</div>
					<!-- Navigation Menu END ==== -->
				</div>
			</div>
		</div>
		<!-- main header END -->
	</header>
	<!-- header END -->
    {% block body %}
    
    {% endblock %}

    <!-- Footer ==== -->
	<footer class="footer" style="background-image:url(static/website/images/background/footer.jpg.jfif);">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="widget widget_info">
							<div class="footer-logo">
								<a href="{% url 'homeView' %}"><img src="static/website/images/logonew.png" alt=""></a>
							</div>
							<div class="ft-contact">
								<p>Smart Medico Consultant, we provide a Smart test services to test your symptoms and get the recommended Doctors .</p>
								<div class="contact-bx">
									<div class="icon"><i class="fas fa-phone-alt"></i></div>
									<div class="contact-number">
										<span>Contact Us</span>
										<h4 class="number">+92 34244400</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-6">
						<div class="widget footer_widget ml-50">
							<h3 class="footer-title">Quick Links</h3>
							<ul>
								<li><a href="{% url 'homeView' %}"><span>Home</span></a></li>
								<li><a href="{% url 'taketestView' %}"><span>Take TesT</span></a></li>
								<li><a href="{% url 'doctorsView' %}"><span>Doctors</span></a></li>
								<li><a href="{% url 'blogsView' %}"><span>Blogs</span></a></li>
								<li><a href="{% url 'contactusView' %}"><span>Contact Us</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="widget widget_form">
                            <h3 class="footer-title">Subcribe</h3>
							<form class="subscribe-form subscription-form mb-30" action="http://www.alikadoc.com/script/mailchamp.php" method="post">
								<div class="ajax-message"></div>
								<div class="input-group">
									<input name="email" required="required" class="form-control" placeholder="Email Address" type="email">
								</div>
								<button name="submit" value="Submit" type="submit" class="btn btn-secondary shadow w-100">Subscribe Now</button>	
							</form>
							<div class="footer-social-link">
								<ul>
									<li><a target="_blank" href="https://www.facebook.com/"><img src="static/website/images/social/facebook.png" alt=""></a></li>
									<li><a target="_blank" href="https://twitter.com/"><img src="static/website/images/social/twitter.png" alt=""></a></li>
									<li><a target="_blank" href="https://www.instagram.com/"><img src="static/website/images/social/instagram.png" alt=""></a></li>
									<li><a target="_blank" href="https://www.linkedin.com/"><img src="static/website/images/social/linkedin.png" alt=""></a></li>
								</ul>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
		<!-- footer bottom -->
		<!-- footer-shape -->
		<img class="pt-img1 animate-wave" src="/static/website/images/shap/wave-blue.png" alt="">
		<img class="pt-img2 animate1" src="/static/website/images/shap/circle-dots.png" alt="">
		<img class="pt-img3 animate-rotate" src="/static/website/images/shap/plus-blue.png" alt="">
		<img class="pt-img4 animate-wave" src="/static/website/images/shap/wave-blue.png" alt="">
	</footer>
    <!-- Footer END ==== -->
	<button class="back-to-top fa fa-chevron-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="/static/website/js/jquery.min.js"></script>
<script src="/static/website/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/website/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/static/website/vendor/swiper/swiper.min.js"></script>
<script src="/static/website/vendor/magnific-popup/jquery.magnific-popup.js"></script>
<script src="/static/website/js/functions.js"></script>

{% block script %}
{% endblock  %}
</body>
</html>
