{% extends 'base.html' %} 
{% block title %}SMC - Blogs{% endblock  %}
{% block body %}

	<div class="page-content bg-white">
	
		<!-- Inner Banner -->
		<div class="banner-wraper">
			<div class="page-banner" style="background-image:url(static/website/images/banner/img1.jpg.jfif);">
				<div class="container">
					<div class="page-banner-entry text-center">
						<h1>Blogs</h1>
						<!-- Breadcrumb row -->
						<nav aria-label="breadcrumb" class="breadcrumb-row">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'homeView' %}"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Blogs</li>
							</ul>
						</nav>
					</div>
				</div>
				<img class="pt-img1 animate-wave" src="static/website/images/shap/wave-blue.png" alt="">
				<img class="pt-img2 animate2" src="static/website/images/shap/circle-dots.png" alt="">
				<img class="pt-img3 animate-rotate" src="static/website/images/shap/plus-blue.png" alt="">
			</div>
			<!-- Breadcrumb row END -->
		</div>
		<!-- Inner Banner end -->
			
		<!-- About us -->
		<section class="section-area section-sp1">
			<div class="container">
				<div class="row">
					{% for blog in blogs %}
					<div class="col-xl-4 col-md-6">
						<div class="blog-card mb-30">
							<div class="post-media">
								<a href="{% url 'blogRead' blog.slug %}"><img src="/media/{{blog.thumbnail}}" alt=""></a>
							</div>
							<div class="post-info">
								<ul class="post-meta">
									<li class="author"><img src="/static/website/images/admin-profile.jpg" alt="ok">Admin</li>
									<li class="date"><i class="far fa-calendar-alt"></i> {{blog.created| date:"F d Y" }}</li>
								</ul>
								<h4 class="post-title"><a href="{% url 'blogRead' blog.slug %}">{{blog.title}}</a></h4>		
								<a href="{% url 'blogRead' blog.slug %}" class="btn btn-outline-primary btn-sm">Read More <i class="btn-icon-bx fas fa-chevron-right"></i></a>		
							</div>
						</div>							
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		
	</div>

{% endblock %}
	
	