{% extends 'adminbase.html' %} 
{% block title %}Dashboard - All Blogs{% endblock %} 
{% block body %}
<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl">
        <div class="card">
          <h5 class="card-header">Blogs</h5>
          <div class="table-responsive text-nowrap">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Thumbnail</th>
                  <th>Text</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for blog in blogs %}
                <tr>
                  <td>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{blog.title}}</strong>
                  </td>
                  <td><img src="/media/{{blog.thumbnail}}" width="40px"></td>
                  <td>{{blog.content  |safe |truncatechars:260 }}</td>
                  <td>
                    <div class="dropdown">
                      <button
                        type="button"
                        class="btn p-0 dropdown-toggle hide-arrow"
                        data-bs-toggle="dropdown"
                      >
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);">
                          <i class="bx bx-trash-alt me-1"></i>
                          <button
                            type="button"
                            class="btn p-0"
                            id="deleteBlog"
                            data-bs-toggle="modal"
                            data-bs-target="#backDropModal"
                            onclick="deleteBlog({{blog.id}})"
                          >
                            Delete
                          </button>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->
</div>
<!-- Content wrapper -->

<!--delete Dr model-->
<div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <form class="modal-content" action="{% url 'deleteBlog' %}" method="POST">
        {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">Delete Blog</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="id" id="blog_del" value="" />
        <p>Are you sure you want to delete the Blog?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
{% block scripts %} 

<script>
    function deleteBlog(id){
      $('#blog_del').val(id)
    }
  </script>

{% endblock %}
